<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.mapper.CarttableMapper" >
  <resultMap id="BaseResultMap" type="com.shop.bean.Carttable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="busertable_id" property="busertableId" jdbcType="INTEGER" />
    <result column="goodstable_id" property="goodstableId" jdbcType="INTEGER" />
    <result column="shoppingnum" property="shoppingnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, busertable_id, goodstable_id, shoppingnum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shop.bean.CarttableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from carttable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from carttable
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from carttable
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shop.bean.CarttableExample" >
    delete from carttable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shop.bean.Carttable" >
    insert into carttable (id, busertable_id, goodstable_id, 
      shoppingnum)
    values (#{id,jdbcType=INTEGER}, #{busertableId,jdbcType=INTEGER}, #{goodstableId,jdbcType=INTEGER}, 
      #{shoppingnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.bean.Carttable" >
    insert into carttable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="busertableId != null" >
        busertable_id,
      </if>
      <if test="goodstableId != null" >
        goodstable_id,
      </if>
      <if test="shoppingnum != null" >
        shoppingnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="busertableId != null" >
        #{busertableId,jdbcType=INTEGER},
      </if>
      <if test="goodstableId != null" >
        #{goodstableId,jdbcType=INTEGER},
      </if>
      <if test="shoppingnum != null" >
        #{shoppingnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shop.bean.CarttableExample" resultType="java.lang.Integer" >
    select count(*) from carttable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update carttable
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.busertableId != null" >
        busertable_id = #{record.busertableId,jdbcType=INTEGER},
      </if>
      <if test="record.goodstableId != null" >
        goodstable_id = #{record.goodstableId,jdbcType=INTEGER},
      </if>
      <if test="record.shoppingnum != null" >
        shoppingnum = #{record.shoppingnum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update carttable
    set id = #{record.id,jdbcType=INTEGER},
      busertable_id = #{record.busertableId,jdbcType=INTEGER},
      goodstable_id = #{record.goodstableId,jdbcType=INTEGER},
      shoppingnum = #{record.shoppingnum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.bean.Carttable" >
    update carttable
    <set >
      <if test="busertableId != null" >
        busertable_id = #{busertableId,jdbcType=INTEGER},
      </if>
      <if test="goodstableId != null" >
        goodstable_id = #{goodstableId,jdbcType=INTEGER},
      </if>
      <if test="shoppingnum != null" >
        shoppingnum = #{shoppingnum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.bean.Carttable" >
    update carttable
    set busertable_id = #{busertableId,jdbcType=INTEGER},
      goodstable_id = #{goodstableId,jdbcType=INTEGER},
      shoppingnum = #{shoppingnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>